.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0.8
}

.game-message {
  font-size: 18px;
}

/* Sticky footer */
.Site {
  /* display: flex; */
  min-height: 100vh;
  flex-direction: column;
}

.main-content-section {
  flex: 1;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}


  